extends layout 
block content
  header.page-header.header.container-fluid
    .overlay
    .description
      h1.login-header Where&apos;s the party!
      form.form-horizontal
        fieldset
          // Form Name
          legend Login
          // Text input
          .form-group
            label.col-md-6.control-label(for='textinput') Email
            .col-md-12
              input#textinput.form-control.input-md(name='textinput' type='text' placeholder='someone@gmail.com' required='')
            // Password input
            label.col-md-6.control-label(for='password') Password
            .col-md-12
              input#password.form-control.input-md(name='password' type='password' placeholder='password' required='')
          button.btn.btn-outline-primary(type='button') Login
      p
        a.member(href='/register')  Not a member? Sign up here
  