extends layout 
block content
  .space
    br
    app-home-list Loading
block scripts
  script(src='/build/runtime.3928b50bddfa0cee.js')
  script(src='/build/polyfills.dc33f5ec8fe3d1d1.js')
  script(src='/build/main.4462619dd82a08e4.js')

  //- header.page-header.header.container-fluid
  //-   .overlay
  //-   .description
  //-     h1.login-header Where&apos;s the party!
  //-     form.form-horizontal
  //-       fieldset
  //-         // Form Name
  //-         legend Register
  //-         .form-group
  //-           // Email input
  //-           label.col-md-6.control-label(for='email') Email
  //-           .col-md-12
  //-             input#email.form-control.input-md(name='email' type='text' placeholder='someone@gmail.com' required='')
  //-           // UserName input
  //-           label.col-md-6.control-label(for='username') Username
  //-           .col-md-12
  //-             input#username.form-control.input-md(name='username' type='text' placeholder='Username' required='')
  //-           // Password input
  //-           label.col-md-6.control-label(for='password') Password
  //-           .col-md-12
  //-             input#password.form-control.input-md(name='password' type='password' placeholder='password' required='')
  //-           // Confirm Password input
  //-           label.col-md-12.control-label(for='confirm-password') Confirm Password
  //-           .col-md-12
  //-             input#confirm-password.form-control.input-md(name='confirm-password' type='password' placeholder='Confirm password' required='')
  //-         button.btn.btn-outline-primary(type='button') Register
  //-     p
  //-       a.member(href='/login')  Already a member? Login here
